{% assign language_posts = site.posts | where: "locale", page.locale %}
{% assign posts_by_year = language_posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
  <section class="archive-year" id="{{ year.name }}">
    <h2 class="archive-year__title">{{ year.name }}</h2>
    <ol class="archive-year__list">
      {% for post in year.items %}
        <li class="archive-year__item">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%m.%d" }}
          </time>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endfor %}
